:root {
    --special-color: tomato; 
    --second-color: #551CF3;
    --light-color: ivory;
    --dark-color: black;  
}

/* . is for class selector*/
.container {
    max-width: 900px;
    margin: 0 auto;
}

/*space is descendant selector*/
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;  
} 

nav ul li {
    flex: 1;
}

/* > is child combinator*/
main > p {
    font-size: 1.25rem;
}

/* + adjacent combinator */
h2 + p {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
}

/* ~ is sibling combinator */
.stars span:hover ~ span {
    opacity: .5;
}

.stars span {
    cursor: pointer;
}

/* [] is attribute selector */
a[href="#"] {
    color: var(--special-color);
}

a[href^="http"] {
    border-left: 4px solid var(--second-color);
}

/* State related pseudo classes */
nav a,
nav a:link,
nav a:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    /* transition should be applied to normal state */
    transition: transform .5s;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
    transform: scale(1.2);
}

nav a:active {
    transform: scale(1.2) translatex(10px);
}

/* pseudo elements */
a[href$=".pdf"]::after {
    content: "\2913";
    font-size: 1.25rem;
    color: var(--special-color);
}

h2 + p::first-line {
    color: var(--special-color);
}

h3 + p::first-letter {
    background-color: var(--second-color);
    color: var(--light-color);
    padding: .25rem;
    margin-right: .10rem;
}

/* cal() function */
.google {
    display: block;
    background-color: lavender;
    width: calc(100% - 6rem - 4px);
    padding: 2rem;
    margin: 1rem;
    /* 4 px border on left */
}