/* . is for class selector*/
.container {
    max-width: 900px;
    margin: 0 auto;
}

/*space is descendant selector*/
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;  
} 

nav ul li {
    flex: 1;
}

/* > is child combinator*/
main > p {
    font-size: 1.25rem;
}

/* + adjacent combinator */
h2 + p {
    background-color: black;
    color: white;
    padding: 1rem;
}

/* ~ is sibling combinator */
.stars span:hover ~ span {
    opacity: .5;
}

.stars span {
    cursor: pointer;
}

/* [] is attribute selector */
a[href="#"] {
    color: tomato;
}

a[href^="http"] {
    color: green;
}

/* State related pseudo classes */
nav a,
nav a:link,
nav a:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    /* transition should be applied to normal state */
    transition: transform .5s;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
    transform: scale(1.2);
}

nav a:active {
    transform: scale(1.2) translatex(10px);
}

/* pseudo elements */
a[href$=".pdf"]::after {
    content: "\2913";
    font-size: 1.25rem;
    color: tomato;
}

h2 + p::first-line {
    color: tomato;
}

h3 + p::first-letter {
    background-color: #551CF1;
    color: white;
    padding: .25rem;
    margin-right: .10rem;
}